In [82]:
import numpy as np
import pandas as pd

import tensorflow as tf
from tensorflow.keras.utils import normalize

import matplotlib.pyplot as plt

# Load Data

In [83]:
mnist = tf.keras.datasets.mnist

In [84]:
(x_train, y_train), (x_test, y_test) = mnist.load_data()

# Reshape

In [85]:
# reshape (28, 28) into (28x28,1) shape.
# It means we flatten row x column shape to an array having 28x28 (756) items.

n_samples = x_train.shape[0]
axis1 = x_train.shape[1]
axis2 = x_train.shape[2]

x_train = x_train.reshape(n_samples, axis1 * axis2)


n_samples = x_test.shape[0]
axis1 = x_test.shape[1]
axis2 = x_test.shape[2]

x_test = x_test.reshape(n_samples, axis1 * axis2)


print(x_train.shape)
print(x_test.shape)

(60000, 784)
(10000, 784)

# Noramlize Data

In [88]:
x_train = x_train.astype('float32')
x_test = x_test.astype('float32')

gray_scale = 255.0

x_train = x_train / gray_scale
x_test = x_test / gray_scale